<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel with Kids</title>
</head>
<body>
    <!-- Header -->
    <%- include("partials/header.ejs") %>
    
    <!-- Grid -->
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">What do you want to find out?</h2>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <form action="/weather_choose_location" method="GET">
                <button type="submit" class="clickable-card col d-flex align-items-start">
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
                    <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">The weather</h3>
                    <p>Find out the forecast weather.</p>
                    </div>
                </button>
            </form>
          <div class="col d-flex align-items-start">
            <form action="/parks" method="GET">
                <button type="submit" class="clickable-card col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Parks</h3>
              <p>Find the most fun and beautiful parks that are in your travel location.</p>
            </div>
        </button>
            </form>
          </div>
          <div class="col d-flex align-items-start">
            <form action="/atraction" method="GET">
                <button type="submit" class="clickable-card col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Kids atraction</h3>
              <p>Find all the atraction that your kids can enjoy in your travel.</p>
            </div>
        </button>
            </form>
          </div>
          <div class="col d-flex align-items-start">
            <form action="/sport" method="GET">
                <button type="submit" class="clickable-card col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Sports Events</h3>
              <p>Find the sports events that accure there.</p>
            </div>
        </button>
            </form>
          </div>

          <!-- didn't touch yet -->
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
        </div>
      </div>

    <!-- Footer -->
    <%- include("partials/footer.ejs") %>
</body>
</html>