body {
    margin: 0;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DED0B6;
}

.content{
    margin-top: 150px;
}

#footer{
    background-color: #DED0B6;
}

#links{
    margin: 40px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#header .grayLetters{
    color: #607274;
    font-weight: bold;
}

#first_track, #all_track{
    margin-top: 100px;
}

#title, #first_track, #all_track, #forms{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 300px;
    padding: 20px;
}

.button{
    margin-top: 100px;
    margin-left: 60px;
}

.clickable-card {
    /* Add styling for the clickable card, such as text-decoration, color, etc. */
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    /* Add other styles as needed */
}

.location-form{
}